{% extends "base.html" %}

{% block title %} Search | {{ SITENAME }}{% endblock %}

{% block content %}
<main class="my-12 text-zinc-800 dark:text-zinc-300">
    <h1 class="text-3xl font-semibold mb-6">Search</h1>
    <label class="block" for="site-search">Search articles</label>
    <input id="site-search" class="block w-full mt-3 p-2 rounded-md border-2 border-zinc-500 bg-white dark:bg-zinc-800"
        data-stork="sitesearch" placeholder="Type a title, topic, or keyword">
    <div class="mt-3" data-stork="sitesearch-output"></div>
</main>
{% endblock %}
